<link rel="stylesheet" href="<%= assetPath('css/blog.css')%>">


<section id="blog-page">



     <div id="create-blog-container">

        <div id="create-blog-btn-container">
            <button id="blog-btn" data-user="<%=locals.user%>">
                Create Your Blog
            </button>
        </div>

        <% if(locals.user){%>
            <div id="add-blog-form">

                <div id="heading">
                    Create Your Blog

                </div>

                <form action="/blog/create-blog" method="POST" id="blog-form">

                    <div id="flex">
                        <div class="inputBox">
                            <span> Title : </span>
                            <input minlength="20" maxlength="100" id="title" type="text" placeholder="Enter Blog Title" name="title" required>
                        </div>
                        <div class="inputBox">
                            <span>Img Url:</span>
                            <input id="coverImage" type="url" placeholder="https://images.unsplash.com/photo-1603985529862-9e12198c9a60?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2061&q=80" name="coverImageUrl" required>
                        </div>
                        <div class="inputBox">
                            <span>Content : </span>
                            <textarea minlength="750" name="content" id="content" rows="7" cols="40" placeholder="Write Blog content here ..." required></textarea>
                        </div>

                    </div>

                    <div id="btn-container">

                        <input id="blog-submit-btn" type="submit" value="Create" class="btn">


                    </div>



                </form>
            </div>




            <div id="blog-created">

                <p>
                    <span><%= locals.user.fname%></span> your blog is successfully added
                </p>

            </div>
        <%}%>

           

                <div id="login-message">
                    <div class="alert alert-danger" role="alert">
                        You need to login first !!!
                    </div>
                </div>
    </div>

    <header id="blogs-page-header">

        <h1>Catch up with the trending topics</h1>


    </header>



 
     <div class="post">


        <% for(blog of Blogs){%>

             <div class="post-box tech">
                <div class="image">
                    <img src='<%= blog.coverImageUrl%>' alt="" class="post-img">
                </div>

                <div class="content-box">

                    <div>

                        <h3 class="post-title">
                            <%= blog.title%>
                        </h3>

                        <p class="post-description">
                            <%= blog.body%>
                        </p>

                    </div>

                    <div class="profile">

                        <span class="profile-name"><%=blog.createdBy.fname%>&nbsp;<%=blog.createdBy.lname%></span>
                        <span class="post-date"><%=blog.createdAt.toDateString()%></span>

                        
                        
                        <% if(locals.user && (locals.user.id==blog.createdBy.id || locals.user.access=='admin')) {%>
                          <span id="delete-blog"><a data-removeBlog ="true" href="/blog/delete/<%=blog.id%>"><i data-removeBlog ="true" class="fa-solid fa-trash"></i></a></span>
                        <%}%>
                        
                    </div> 

                    <a style="display:inline-block" href="/blog/<%=blog.id%>" class="btn">Read</a>

                </div>

            </div> 

            <%}%>

    </div>  


    <div class="btn-container">

        <button class="custom-btn"> Load More </button>


    </div>

</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="<%= assetPath('js/blog.js')%>"></script>

<!-- 
<div  id="title-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eos consequuntur voluptate dolorum
    totam provident ducimus cupiditate dolore doloribus repellat. Saepe ad fugit similique quis quam. Odio
    suscipit incidunt distinctio.
    <br>Lorem ipsum dolor sit amet consectetur

</div>
<a href="#" class="btn2" href="https://www.lastwatchdog.com/">Read more</a>
</div>
<div class="imgBx">
<img src="img/bk.jpg" alt="" class="fitBg">
</div> -->